


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ GENERIC */


body{
    margin-top: 0 !important;
    background-color: #f6f6f6 !important;
}

label {
    margin-bottom: 0;
    font-weight: normal;
}

input {
    padding: 6px 12px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ BUTTONS */


.btn-wrapper {
    text-align: right;
    margin: 20px 0;
}





/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ TABLE */




/* ---------------------- Contenedores  */


#tracking_wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
    position: relative;
}

.dataTable {
    position: static!important; /* necesario para el sticky */
}

.tracking-header,
.tracking-footer {
    padding: 20px;
    align-items: center;
}

.tracking {  
    overflow: auto;                   /* scroll */
    max-height: calc(100vh - 258px);  /* scroll Y ? */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}




/* ---------------------- Header */


.dataTable thead {
    border-bottom: 2px solid #777;
}




/* ---------------------- Footer */


.dataTables_info {
    color: #666;
}

/* Pagination */

.paginate_button {
    border-radius: 0;
    float: left;
    margin-left: -1px;
}
.paginate_button.previous {
    border-radius: 2px 0 0 2px;
}
.paginate_button.next {
    border-radius: 0 2px 2px 0;
}
.paginate_button.current {
    pointer-events: none;
}
.paginate_button:not(.current):not(.disabled) {
    color: #5aa0c5;
}



/* ---------------------- CELLS */

.dataTable [rowspan] {
    vertical-align: top;
}
.dataTable [rowspan].checkbox-container {
    vertical-align: bottom;
}

.dataTable [colspan="4"],
.dataTable [colspan="2"] {
    border-bottom: 1px solid #eaeaea;
}

.dataTable th,
.dataTable td {
    padding: 15px;
    white-space: nowrap;
    width: auto!important; /* ¿ duda: quitamos el ancho JS? */
}

.dataTable td:not(.checkbox-container) {
    min-width: 90px;
}
.dataTable td:last-child {
    min-width: 500px;
}

.dataTable th,
.dataTable td {
    /* border-right: 1px solid #eaeaea;  */
    box-shadow: -1px 0 #eaeaea;
}
.dataTable tr .cell-name_hotel {
    box-shadow: -1px 0 #eaeaea, 1px 0 #eaeaea;
    z-index: 2;
}

.dataTable .cell-analytics + .cell-analytics,
.dataTable .cell-gtm + .cell-gtm,
.dataTable .cell-ads + .cell-ads,
.dataTable .cell-bing + .cell-bing,
.dataTable .cell-affilied + .cell-affilied {
    /* border-left: none; */
    box-shadow: none; 
}

.dataTable .checkbox-container {
    padding: 15px!important;
}

.dataTable .selected td {
    background: #e8f5ff;
}

.dataTable .group + [role='row'] {
    border-top: 1px solid #eaeaea;
}

tbody .cell-id_hotel {
    color: #5aa0c5;
}

/* ------------------- FILTRO DE BÚSQUEDA */


.dataTables_filter {
    position: relative;
}
.dataTables_filter input {
    padding-left: 25px;
}
.dataTables_filter label::before {
    content: "\f002";
    color: #bcc2c8;
    display: inline-block;
    font-size: 14px;
    font-family: 'FontAwesome';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: calc(50% - 7px);
    left: 7px;
    z-index: 2;
}



/* -------------------  Grupos de rows */


.group {
    display: none;
}
tbody [role='row']+[role='row'] .checkbox-container,
[role='row']+[role='row'] td:nth-child(2),
[role='row']+[role='row'] td:nth-child(3),
[role='row']+[role='row'] td:nth-child(4) {
    color: transparent;
    pointer-events: none;
}
tbody [role='row']+[role='row'] .checkbox-container::before {
    display: none;
}






/* ------------------- EDITABLE EN LÍNEA --> Revisar, clases comunes con la modal */

.editable .DTE_Label,
.editable .DTE_Field_Info {
    display: none;
}
.DTE_Inline {
    margin: -15px;
}
.DTE_Inline_Field {
    min-width: 100%;
}

.DTE_Inline .DTE_Inline_Field input,
.DTE_Inline .DTE_Inline_Field select {
    text-indent: 15px;
}
.DTE_Inline .DTE_Inline_Field select {
    text-indent: 11px;
}



/* ------------------- STICKY --> Revisar */

.checkbox-container, 
.cell-id_hotel,
.cell-name_hotel {
    background: #fff;
    position: relative;
}

.scrolling .checkbox-container,
.scrolling .cell-id_hotel {
    box-shadow: -1px 0 #eaeaea;
}
.scrolling .cell-name_hotel {
    box-shadow: -1px 0 #eaeaea, 4px 0 3px -3px #ccc;
}
