


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ GENERIC */


body{
    margin-top: 0 !important;
    background-color: #f6f6f6 !important;
}

label {
    margin-bottom: 0;
    font-weight: normal;
}

input {
    padding: 6px 12px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ BUTTONS */


.btn-wrapper {
    text-align: right;
    margin: 20px 0;
}


.btn-primary:disabled,
.btn-primary.disabled {
    filter: grayscale(1);
}

.btn-default:disabled,
.btn-default.disabled {
    filter: grayscale(1);
    background: #eee;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ TABLE */




/* ---------------------- Contenedores  */


#tracking_wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
    position: relative;
}

.dataTable {
    position: static!important; /* necesario para el sticky */
}

.tracking-header,
.tracking-footer {
    padding: 20px;
    align-items: center;
}

.tracking {  
    overflow: auto;                   /* scroll */
    max-height: calc(100vh - 258px);  /* scroll Y ? */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}




/* ---------------------- Header */


.dataTable thead tr:last-child th,
.dataTable th[rowspan='2'] {
    border-bottom: 2px solid #777;
}

.dt-buttons {
    display: flex;
}
.dt-buttons::before {
    content: "";
    border-left: 1px solid #ccc;
    order: 0;
    margin: 0 20px;
}
.dt-buttons .buttons-edit {
    border-radius: 2px 0 0 2px;
    order: -1;
    color: #5aa0c5;
}
.dt-buttons .buttons-edit:hover {
    position: relative;
    z-index: 2;
}
.dt-buttons .buttons-remove {
    border-radius: 0 2px 2px 0;
    margin-left: -1px;
    order: -1;
    color: #d62101;
}

.tracking-header .btn {
    padding: 10px 20px;
}
.tracking-header input {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* ---------------------- Footer */


.dataTables_info {
    color: #666;
}


/* ---------------------- Pagination */

.paginate_button {
    border-radius: 0;
    float: left;
    margin-left: -1px;
}
.paginate_button.previous {
    border-radius: 2px 0 0 2px;
}
.paginate_button.next {
    border-radius: 0 2px 2px 0;
}
.paginate_button.current {
    pointer-events: none;
}
.paginate_button:not(.current):not(.disabled) {
    color: #5aa0c5;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ CELLS */



.dataTable [rowspan] {
    vertical-align: top;
}
.dataTable [rowspan].checkbox-container {
    vertical-align: bottom;
}

.dataTable [colspan="4"],
.dataTable [colspan="2"] {
    border-bottom: 1px solid #eaeaea;
}

.dataTable th,
.dataTable td {
    padding: 15px;
    white-space: nowrap;
    width: auto!important; /* ¿ duda: quitamos el ancho JS? */
}

.dataTable th:not(.checkbox-container),
.dataTable td:not(.checkbox-container) {
    min-width: 90px;
    box-shadow: inset 1px 0 #eaeaea;
}
.dataTable td:last-child {
    min-width: 500px;
}




.dataTable .cell-analytics + .cell-analytics,
.dataTable .cell-gtm + .cell-gtm,
.dataTable .cell-ads + .cell-ads,
.dataTable .cell-bing + .cell-bing,
.dataTable .cell-affilied + .cell-affilied {
    /* border-left: none; */
    box-shadow: none; 
}

.dataTable .checkbox-container {
    padding: 15px!important;
}

.dataTable .selected td {
    background: #e8f5ff;
}

.dataTable .group + [role='row'] {
    border-top: 1px solid #eaeaea;
}

tbody .cell-id_hotel {
    color: #5aa0c5;
}



/* -------------------  Grupos de rows */


.group {
    display: none;
}

tbody [role='row']+[role='row'] .checkbox-container,
[role='row']+[role='row'] td:nth-child(2),
[role='row']+[role='row'] td:nth-child(3),
[role='row']+[role='row'] td:nth-child(4) {
    color: transparent;
    pointer-events: none;
}

tbody [role='row']+[role='row'] .checkbox-container::before {
    display: none;
}


/* ------------------- Empty column groups */

.cell-analytics:empty ~ .cell-analytics,
.cell-gtm:empty ~ .cell-gtm,
.cell-ads:empty ~ .cell-ads,
.cell-bing:empty ~ .cell-bing,
.cell-affilied:empty ~ .cell-affilied {
    color: #ccc;
    pointer-events: none;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++ FILTRO DE BÚSQUEDA */


.dataTables_filter {
    position: relative;
}
.dataTables_filter input {
    padding-left: 35px;
}
.dataTables_filter label::before {
    content: "\f002";
    color: #bcc2c8;
    display: inline-block;
    font-size: 18px;
    font-family: 'FontAwesome';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: calc(50% - 9px);
    left: 10px;
    z-index: 2;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ SORTING */

.sorting_asc,
.sorting_desc,
.sorting {
    cursor: pointer;
    outline: none;
}

.sorting_asc span,
.sorting_desc span,
.sorting span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorting_asc span::after,
.sorting_desc span::after,
.sorting span::after {
    content:"\f160";
    font-family: 'FontAwesome';
    font-size: 0.9em;
    margin-left: 10px;
}
.sorting span::after {
    content:"\f175";
    color: #ccc;
}
.sorting_desc span::after {
    content:"\f161";
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++ EDITABLE EN LÍNEA */


td.editable {
    cursor: pointer;
}

.editable .DTE_Label,
.editable .DTE_Field_Info {
    display: none;
}
.DTE_Inline {
    margin: -15px;
}
.DTE_Inline_Field {
    min-width: 100%;
}

.DTE_Inline .DTE_Inline_Field input,
.DTE_Inline .DTE_Inline_Field select {
    text-indent: 15px;
}
.DTE_Inline .DTE_Inline_Field select {
    text-indent: 11px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++ STICKY */


/* .checkbox-container, 
.cell-id_hotel,
.cell-name_hotel {
    background: #fff;
    position: relative;
    z-index: 2;
}

.scrolling .checkbox-container,
.scrolling .cell-id_hotel {
    box-shadow: -1px 0 #eaeaea;
}
.scrolling .cell-name_hotel {
    box-shadow: -1px 0 #eaeaea, 4px 0 3px -3px #ccc;
}


.tracking {
    position: relative;
}
.bg-sticky {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, .1);
    transition: box-shadow .2s;
}
.scrolling .bg-sticky {
    box-shadow: 10px 0 10px rgba(0,0,0,.1);
    transition: box-shadow .4s;
} */




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++ STICKY 2 */


.checkbox-container,
.cell-id_hotel,
.cell-name_hotel {
    background: #fff;
    position: sticky;
    left: 0;
    z-index: 2;
}
.scroll-wrapper {
    position: relative;
    overflow: hidden;
}
.bg-sticky {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, .1);
    transition: box-shadow .2s;
}
.scrolling + .bg-sticky {
    box-shadow: 10px 0 10px rgba(0, 0, 0, .1);
    transition: box-shadow .4s;
}